.headline {
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

    p {
        padding-top: 20px;
        width: 100%;
    }
}

.dish-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 60px 0;

    .gallery-item {
        width: 100%;
        max-width: 270px;
        margin-left: auto;
        margin-right: auto;

        .gallery-img {
            width: 100%;
            height: 270px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
                box-shadow: 0px 19px 13px rgba(12, 13, 12, 0.3);
                border-radius: 50%;
                background-color: transparent;
                transition: all 0.5s ease-in-out;
            }
        }

        .gallery-item-text {
            width: 100%;
            padding-top: 25px;
        }
    }
}
.show-more {
    margin-left: auto;
    margin-right: auto;
}

.grey-section {
    background-color: $grey1;

    h2 {
        color: white;
        text-align: center;
    }

    .text {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding: 40px 10px;

        p {
            color: white;
            padding-right: 30px;

            &:last-child {
                padding-right: 0;
            }
        }
    }

    .btn {
        background-color: white;
        color: $grey1;
    }
}

.dish-promo-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    .dish-img {
        width: 100%;
        max-width: 450px;
        height: 450px;
        margin-right: 20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
            box-shadow: 0px 19px 13px rgba(12, 13, 12, 0.3);
        }
    }

    .promo-text {
        width: 100%;
        max-width: 500px;

        h2 {
            font-family: "Montserrat";
            font-weight: bold;
        }

        p {
            padding: 20px 0;
        }
    }
}

.reversed {
    flex-direction: row-reverse;
}

.pizza-menu-cont {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    // height: 750px;
    position: relative;

    .headline {
        position: relative;
        padding-bottom: 15px;
        margin-bottom: 30px;
        padding-top: 40px;

        &::before {
            position: absolute;
            content: "";
            width: 100px;
            height: 7px;
            background-color: white;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        h2 {
            color: white;
        }

        p {
            color: white;
        }
    }

    .pizza-img {
        width: 100%;
        max-width: 575px;
        height: 530px;
        margin-left: auto;
        margin-right: auto;
        transform: translateY(65px);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .leaves2 {
        position: absolute;
        top: -120px;
        width: 100%;
        max-width: 200px;
        height: 500px;
        right: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .leaves6 {
        position: absolute;
        top: 50px;
        width: 100%;
        max-width: 280px;
        height: 500px;
        left: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

.text-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    padding: 40px 0 40px 0;

    .text {
        h3 {
            font-family: "Reey";
            text-align: center;
            color: #393939;
        }
        p {
            padding-top: 15px;
        }
    }
}

.quote-cont {
    padding-top: 70px;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    p {
        font-weight: 600;
        padding-bottom: 20px;
    }

    h4 {
        font-weight: 600;
        font-size: 1rem;
    }
}

.grey-section-padding {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .leaves3 {
        position: absolute;
        left: 0;
        bottom: -105px;
        width: 100%;
        max-width: 200px;
        height: 260px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    .leaves4 {
        position: absolute;
        top: -75px;
        right: 0;
        width: 100%;
        max-width: 340px;
        height: 350px;

        img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: contain;
        }
    }
}

.newsletter-cont {
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin-top: auto;
    margin-bottom: auto;

    h2 {
        font-family: "Montserrat";
        font-weight: bold;
    }

    p {
        color: white;
        padding-top: 30px;
    }

    form {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 40px;
        width: 100%;

        input {
            width: 100%;
            max-width: 450px;
            height: 40px;
            border: none;
            background-color: white;
            color: $grey2;
            border-radius: 20px;
            padding: 10px 20px;

            &:focus {
                outline: none;
            }
        }

        .btn {
            height: 40px;
            margin-left: -100px;
            border: none;
            background-color: $grey2;
            color: white;
            font-size: 1.1rem;
            font-weight: 600;
        }
    }
}

@media only screen and (max-width: 991px) {
    .dish-gallery {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;

        .gallery-item {
            text-align: center;
        }
    }

    .text {
        flex-direction: column;
        gap: 30px;
    }

    .dish-promo-cont {
        flex-direction: column;

        .dish-img {
            max-width: 300px;
            height: 300px;
            margin-right: 0;
        }
    }

    .reversed {
        padding-top: 40px;
    }

    .pizza-menu-cont {
        .pizza-img {
            max-width: 450px;
            height: 420px;
            transform: translateY(0);
        }
        .leaves2,
        .leaves6 {
            display: none;
        }
    }

    .text-cont {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
    }

    .grey-section-padding .leaves4 {
        display: none;
    }
}

@media only screen and (max-width: 640px) {
    .dish-gallery {
        grid-template-columns: 1fr;
    }

    .pizza-menu-cont {
        .pizza-img {
            max-width: 350px;
            height: 320px;
            transform: translateY(0);
        }
    }

    .text-cont {
        grid-template-columns: 1fr;
    }

    .grey-section-padding .leaves3 {
        display: none;
    }

    .newsletter-cont form .btn {
        margin-left: -50px;
        font-size: 0.9rem;
    }
}
