.background-image {
  width: 100%;
  height: 780px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

header {
  position: fixed;
  z-index: 99;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-logo {
  display: none;
}

.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 15px 50px;
  z-index: 2;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header .logo {
  width: 100%;
  max-width: 115px;
  height: 90px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.header .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.header .nav-menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 40px;
}

.header .nav-menu li:last-child {
  padding-right: 0;
}

.header .nav-menu li a {
  color: white;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: bold;
}

.header .nav-menu li form {
  position: relative;
}

.header .nav-menu li form input {
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 80px;
  background-color: white;
  padding: 10px;
  font-size: 1rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.header .nav-menu li form input:focus {
  outline: none;
  width: 300px;
}

.header .nav-menu li form input.search {
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: calc(100% - 10px);
}

.welcome-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 57%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.welcome-part .main-text .read-more {
  margin-top: 40px;
  background-color: white;
  color: #222328;
}

.welcome-part .main-text p {
  width: 100%;
  max-width: 400px;
  color: white;
  padding-top: 30px;
  font-style: italic;
}

.welcome-part .main-img {
  width: 100%;
  max-width: 500px;
  height: 500px;
}

.welcome-part .main-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.leaves1 {
  position: absolute;
  right: -60px;
  bottom: -150px;
  width: 100%;
  max-width: 600px;
  height: 480px;
}

.leaves1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.linear-gradient {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  padding: 10px 50px;
}

.linear-gradient .logo {
  height: 70px;
  max-width: 90px;
}

.linear-gradient .nav-menu li input {
  height: 40px;
}

.headline {
  text-align: center;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.headline p {
  padding-top: 20px;
  width: 100%;
}

.dish-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 60px 0;
}

.dish-gallery .gallery-item {
  width: 100%;
  max-width: 270px;
  margin-left: auto;
  margin-right: auto;
}

.dish-gallery .gallery-item .gallery-img {
  width: 100%;
  height: 270px;
}

.dish-gallery .gallery-item .gallery-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  -webkit-box-shadow: 0px 19px 13px rgba(12, 13, 12, 0.3);
          box-shadow: 0px 19px 13px rgba(12, 13, 12, 0.3);
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.dish-gallery .gallery-item .gallery-item-text {
  width: 100%;
  padding-top: 25px;
}

.show-more {
  margin-left: auto;
  margin-right: auto;
}

.grey-section {
  background-color: #222328;
}

.grey-section h2 {
  color: white;
  text-align: center;
}

.grey-section .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 10px;
}

.grey-section .text p {
  color: white;
  padding-right: 30px;
}

.grey-section .text p:last-child {
  padding-right: 0;
}

.grey-section .btn {
  background-color: white;
  color: #222328;
}

.dish-promo-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.dish-promo-cont .dish-img {
  width: 100%;
  max-width: 450px;
  height: 450px;
  margin-right: 20px;
}

.dish-promo-cont .dish-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
  -webkit-box-shadow: 0px 19px 13px rgba(12, 13, 12, 0.3);
          box-shadow: 0px 19px 13px rgba(12, 13, 12, 0.3);
}

.dish-promo-cont .promo-text {
  width: 100%;
  max-width: 500px;
}

.dish-promo-cont .promo-text h2 {
  font-family: "Montserrat";
  font-weight: bold;
}

.dish-promo-cont .promo-text p {
  padding: 20px 0;
}

.reversed {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.pizza-menu-cont {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}

.pizza-menu-cont .headline {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 30px;
  padding-top: 40px;
}

.pizza-menu-cont .headline::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 7px;
  background-color: white;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.pizza-menu-cont .headline h2 {
  color: white;
}

.pizza-menu-cont .headline p {
  color: white;
}

.pizza-menu-cont .pizza-img {
  width: 100%;
  max-width: 575px;
  height: 530px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: translateY(65px);
          transform: translateY(65px);
}

.pizza-menu-cont .pizza-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.pizza-menu-cont .leaves2 {
  position: absolute;
  top: -120px;
  width: 100%;
  max-width: 200px;
  height: 500px;
  right: 0;
}

.pizza-menu-cont .leaves2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.pizza-menu-cont .leaves6 {
  position: absolute;
  top: 50px;
  width: 100%;
  max-width: 280px;
  height: 500px;
  left: 0;
}

.pizza-menu-cont .leaves6 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.text-cont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 40px;
          column-gap: 40px;
  padding: 40px 0 40px 0;
}

.text-cont .text h3 {
  font-family: "Reey";
  text-align: center;
  color: #393939;
}

.text-cont .text p {
  padding-top: 15px;
}

.quote-cont {
  padding-top: 70px;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.quote-cont p {
  font-weight: 600;
  padding-bottom: 20px;
}

.quote-cont h4 {
  font-weight: 600;
  font-size: 1rem;
}

.grey-section-padding {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.grey-section-padding .leaves3 {
  position: absolute;
  left: 0;
  bottom: -105px;
  width: 100%;
  max-width: 200px;
  height: 260px;
}

.grey-section-padding .leaves3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.grey-section-padding .leaves4 {
  position: absolute;
  top: -75px;
  right: 0;
  width: 100%;
  max-width: 340px;
  height: 350px;
}

.grey-section-padding .leaves4 img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
}

.newsletter-cont {
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin-top: auto;
  margin-bottom: auto;
}

.newsletter-cont h2 {
  font-family: "Montserrat";
  font-weight: bold;
}

.newsletter-cont p {
  color: white;
  padding-top: 30px;
}

.newsletter-cont form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
  width: 100%;
}

.newsletter-cont form input {
  width: 100%;
  max-width: 450px;
  height: 40px;
  border: none;
  background-color: white;
  color: #343434;
  border-radius: 20px;
  padding: 10px 20px;
}

.newsletter-cont form input:focus {
  outline: none;
}

.newsletter-cont form .btn {
  height: 40px;
  margin-left: -100px;
  border: none;
  background-color: #343434;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
}

@media only screen and (max-width: 991px) {
  .dish-gallery {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
  .dish-gallery .gallery-item {
    text-align: center;
  }
  .text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .dish-promo-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dish-promo-cont .dish-img {
    max-width: 300px;
    height: 300px;
    margin-right: 0;
  }
  .reversed {
    padding-top: 40px;
  }
  .pizza-menu-cont .pizza-img {
    max-width: 450px;
    height: 420px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .pizza-menu-cont .leaves2,
  .pizza-menu-cont .leaves6 {
    display: none;
  }
  .text-cont {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
  .grey-section-padding .leaves4 {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  .dish-gallery {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .pizza-menu-cont .pizza-img {
    max-width: 350px;
    height: 320px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .text-cont {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .grey-section-padding .leaves3 {
    display: none;
  }
  .newsletter-cont form .btn {
    margin-left: -50px;
    font-size: 0.9rem;
  }
}

.footer-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: relative;
}

.footer-cont .footer-info h3 {
  font-family: "Reey";
  padding-bottom: 15px;
}

.footer-cont .footer-info p {
  font-weight: 600;
  font-size: 1.1rem;
}

.footer-cont .footer-info .contact-links {
  list-style: none;
  padding-top: 20px;
}

.footer-cont .footer-info .contact-links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5px;
}

.footer-cont .footer-info .contact-links li svg {
  width: 20px;
  height: 20px;
}

.footer-cont .footer-info .contact-links li svg path {
  fill: #222328;
}

.footer-cont .footer-info .contact-links li a {
  color: #343434;
  font-weight: 500;
  padding-left: 10px;
}

.footer-cont .social-m-icons .icons-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.footer-cont .social-m-icons .icons-cont a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 15px;
}

.footer-cont .social-m-icons .icons-cont a svg {
  width: 25px;
  height: 25px;
  -webkit-box-shadow: 0 0 0 0 black;
          box-shadow: 0 0 0 0 black;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.footer-cont .social-m-icons .icons-cont a svg:hover {
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}

.footer-cont .social-m-icons .icons-cont a svg path {
  fill: #94af25;
}

.footer-cont .footer-links {
  position: relative;
}

.footer-cont .footer-links h3 {
  padding-bottom: 20px;
  text-align: center;
}

.footer-cont .footer-links .links-cont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.footer-cont .footer-links .links-cont ul {
  list-style: none;
}

.footer-cont .footer-links .links-cont ul li {
  padding-bottom: 10px;
}

.footer-cont .footer-links .links-cont ul li a {
  color: #222328;
  font-weight: 500;
  font-size: 1.1rem;
}

.footer-cont .f-logo {
  width: 100%;
  max-width: 135px;
  height: 80px;
  position: absolute;
  bottom: -50px;
  right: 0;
}

.footer-cont .f-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

@media only screen and (max-width: 991px) {
  .footer-cont {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
}

@media only screen and (max-width: 640px) {
  .footer-cont {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer-cont .footer-links h3 {
    text-align: start;
  }
  .footer-cont .footer-links .links-cont {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer-cont .f-logo {
    bottom: 0;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    border-radius: 3px;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    border-radius: 3px;
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    border-radius: 3px;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    border-radius: 3px;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    border-radius: 3px;
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    border-radius: 3px;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.contact-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  text-align: center;
  padding: 80px 0;
}

.contact-section .around-contact {
  margin-top: 130px;
}

.contact-section h2 {
  color: white;
  position: relative;
  z-index: 2;
  margin-top: -50px;
  padding-bottom: 15px;
}

.contact-section h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background-color: white;
}

.contact-section .contact-text {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}

.contact-section .contact-text h3 {
  color: white;
}

.contact-section .contact-text p {
  color: white;
}

.contact-section .contact-cont {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  padding-top: 80px;
}

.contact-section .contact-cont .map {
  width: 100%;
  max-width: 500px;
  height: 400px;
  overflow: hidden;
}

.contact-section .contact-cont .map iframe {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contact-section .contact-cont .map:hover iframe {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contact-section .contact-cont .contact-form {
  width: 100%;
  max-width: 400px;
}

.contact-section .contact-cont .contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 20px;
}

.contact-section .contact-cont .contact-form form input,
.contact-section .contact-cont .contact-form form textarea {
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  border: 2px solid white;
  border-radius: 5px;
}

.contact-section .contact-cont .contact-form form input::-webkit-input-placeholder,
.contact-section .contact-cont .contact-form form textarea::-webkit-input-placeholder {
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.contact-section .contact-cont .contact-form form input:-ms-input-placeholder,
.contact-section .contact-cont .contact-form form textarea:-ms-input-placeholder {
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.contact-section .contact-cont .contact-form form input::-ms-input-placeholder,
.contact-section .contact-cont .contact-form form textarea::-ms-input-placeholder {
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.contact-section .contact-cont .contact-form form input::placeholder,
.contact-section .contact-cont .contact-form form textarea::placeholder {
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.contact-section .contact-cont .contact-form form input:focus,
.contact-section .contact-cont .contact-form form textarea:focus {
  outline: none;
}

.contact-section .contact-cont .contact-form form textarea {
  height: 150px;
  resize: none;
}

.contact-section .contact-cont .contact-form form .center {
  width: 180px;
  height: 60px;
  position: relative;
}

.contact-section .contact-cont .contact-form form .btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid white;
  outline: none;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  border-radius: 5px;
}

.contact-section .contact-cont .contact-form form svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  border-radius: 5px;
}

.contact-section .contact-cont .contact-form form .btn:hover {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  background: transparent;
}

.contact-section .contact-cont .contact-form form .btn:hover svg {
  stroke-dashoffset: -480;
}

.contact-section .contact-cont .contact-form form .btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

.background-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

@media only screen and (max-width: 640px) {
  .contact-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
  .contact-cont .map {
    margin-left: auto;
    margin-right: auto;
  }
  .contact-cont .contact-form {
    margin-left: auto;
    margin-right: auto;
  }
}

.background-image2 {
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.background-image2 .background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.about-us-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us-cont .about-leaves {
  position: absolute;
  top: -270px;
  left: -75px;
  width: 100%;
  max-width: 340px;
  height: 342px;
}

.about-us-cont .about-leaves img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.about-us-cont .about-us-text {
  width: 100%;
  max-width: 700px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.about-us-cont .about-us-text .headline h4 {
  padding-bottom: 20px;
}

.about-us-cont .about-us-text .text {
  padding-top: 30px;
}

.about-us-cont .about-us-text .text p {
  padding-bottom: 15px;
}

.about-us-cont .about-us-text .text p:last-child {
  padding-bottom: 0;
}

.about-us-cont .about-us-img {
  width: 100%;
  max-width: 700px;
  height: 800px;
}

.about-us-cont .about-us-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media only screen and (max-width: 991px) {
  .about-us-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-us-cont .about-us-text .about-leaves {
    max-width: 255px;
    height: 255px;
    top: -132px;
  }
  .about-us-cont .about-us-img {
    height: 500px;
  }
}

@media only screen and (max-width: 640px) {
  .about-us-cont .about-us-text .about-leaves {
    display: none;
  }
  .about-us-cont .about-us-img {
    height: 400px;
  }
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reey";
  src: url("../fonts/Reey-Regular.woff2") format("woff2"), url("../fonts/Reey-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Serif";
  overflow-x: hidden;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 0;
  color: #343434;
}

h1 {
  font-family: "Reey";
  font-size: calc(min(max(2.8rem, 4vw), 4.8rem));
  font-weight: 400;
  color: white;
}

h2 {
  font-family: "Reey";
  font-size: 2.5rem;
  font-weight: 400;
  color: #222328;
}

h3 {
  font-size: 1.75rem;
  font-weight: bold;
  color: #343434;
}

.max-width {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1200px) {
  .max-width {
    width: 90%;
  }
}

a {
  text-decoration: none;
}

.btn {
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background-color: #343434;
  border-radius: 37px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
  color: #343434;
}

.section-padding {
  padding: 70px 0;
}

.no-scroll {
  overflow-y: hidden;
}

.rotate {
  -webkit-animation: rotation 12s;
          animation: rotation 12s;
}

.linear {
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

.gallery-img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 1200px) {
  header {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .header {
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    background-color: rgba(0, 0, 0, 0.7);
    width: 0;
    -webkit-transform: translateX(-165px);
            transform: translateX(-165px);
  }
  .header .nav-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 140px;
  }
  .header .nav-menu li {
    padding-right: 0;
    padding-bottom: 20px;
  }
  .header .nav-menu li a {
    color: white;
  }
  .header .nav-menu li input {
    max-width: 250px;
  }
  .header .logo {
    display: none;
  }
  .mobile-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 61px;
    height: 61px;
    margin-left: 20px;
    z-index: 99;
  }
  .mobile-logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
  }
  .header.open {
    width: 100%;
    opacity: 1;
    width: 100%;
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
  .leaves1 {
    max-width: 455px;
    height: 412px;
    right: -195px;
  }
  .welcome-part .main-img {
    max-width: 310px;
    height: 315px;
  }
  .hamburger {
    position: relative;
    z-index: 99;
    float: right;
    display: block;
  }
  .hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
  }
  .hamburger:hover {
    opacity: 0.7;
  }
  .hamburger.is-active:hover {
    opacity: 0.7;
  }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: white;
  }
  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
  }
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
  }
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
  }
  .hamburger-inner::before,
  .hamburger-inner::after {
    content: "";
    display: block;
  }
  .hamburger-inner::before {
    top: -10px;
  }
  .hamburger-inner::after {
    bottom: -10px;
  }
  /*
   * 3DX
   */
  .hamburger--3dx .hamburger-box {
    -webkit-perspective: 80px;
            perspective: 80px;
  }
  .hamburger--3dx .hamburger-inner {
    -webkit-transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .hamburger--3dx .hamburger-inner::before,
  .hamburger--3dx .hamburger-inner::after {
    -webkit-transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .hamburger--3dx.is-active .hamburger-inner {
    background-color: transparent !important;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  .hamburger--3dx.is-active .hamburger-inner::before {
    -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
            transform: translate3d(0, 10px, 0) rotate(45deg);
  }
  .hamburger--3dx.is-active .hamburger-inner::after {
    -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
            transform: translate3d(0, -10px, 0) rotate(-45deg);
  }
  .background-image {
    height: 600px;
  }
}

@media only screen and (max-width: 640px) {
  .background-image {
    height: 500px;
  }
  .welcome-part {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-direction: column-reverse;
    text-align: center;
  }
  .welcome-part .main-img {
    max-width: 270px;
    height: 160px;
  }
  .welcome-part .btn {
    height: 40px;
    max-width: 150px;
    font-size: 1rem;
    margin-right: auto;
    margin-left: auto;
  }
  .welcome-part .main-text p {
    display: none;
  }
  .leaves1 {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */