.background-image {
  width: 100%;
  height: 780px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 15px 50px;
  z-index: 2;
}

.header .logo {
  width: 100%;
  max-width: 115px;
  height: 90px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.header .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.header .nav-menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 40px;
}

.header .nav-menu li:last-child {
  padding-right: 0;
}

.header .nav-menu li a {
  color: white;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: bold;
}

.header .nav-menu li input {
  width: 100%;
  max-width: 180px;
  height: 50px;
  border: none;
  border-radius: 80px;
  background-color: white;
  padding: 10px;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 30px);
  font-size: 1rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header .nav-menu li input:focus {
  outline: none;
}

.welcome-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 57%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.welcome-part .main-text .read-more {
  margin-top: 40px;
  background-color: white;
  color: #222328;
}

.welcome-part .main-text p {
  width: 100%;
  max-width: 400px;
  color: white;
  padding-top: 30px;
  font-style: italic;
}

.welcome-part .main-img {
  width: 100%;
  max-width: 500px;
  height: 500px;
}

.welcome-part .main-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.leaves1 {
  position: absolute;
  right: -60px;
  bottom: -150px;
}

.linear-gradient {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.linear-gradient .logo {
  height: 70px;
  max-width: 90px;
}

.linear-gradient .nav-menu li input {
  height: 40px;
}

.headline {
  text-align: center;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.headline p {
  padding-top: 20px;
  width: 100%;
}

.dish-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 60px 0;
}

.dish-gallery .gallery-item {
  width: 100%;
  max-width: 270px;
  margin-left: auto;
  margin-right: auto;
}

.dish-gallery .gallery-item .gallery-img {
  width: 100%;
  height: 270px;
}

.dish-gallery .gallery-item .gallery-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  -webkit-box-shadow: 0px 19px 13px rgba(12, 13, 12, 0.3);
          box-shadow: 0px 19px 13px rgba(12, 13, 12, 0.3);
  border-radius: 50%;
  background-color: transparent;
}

.dish-gallery .gallery-item .gallery-item-text {
  width: 100%;
  padding-top: 25px;
}

.show-more {
  margin-left: auto;
  margin-right: auto;
}

.grey-section {
  background-color: #222328;
}

.grey-section h2 {
  color: white;
  text-align: center;
}

.grey-section .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 10px;
}

.grey-section .text p {
  color: white;
  padding-right: 30px;
}

.grey-section .text p:last-child {
  padding-right: 0;
}

.grey-section .btn {
  background-color: white;
  color: #222328;
}

.dish-promo-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dish-promo-cont .dish-img {
  width: 100%;
  max-width: 450px;
  height: 450px;
  margin-right: 20px;
}

.dish-promo-cont .dish-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
  -webkit-box-shadow: 0px 19px 13px rgba(12, 13, 12, 0.3);
          box-shadow: 0px 19px 13px rgba(12, 13, 12, 0.3);
}

.dish-promo-cont .promo-text {
  width: 100%;
  max-width: 500px;
}

.dish-promo-cont .promo-text h2 {
  font-family: 'Montserrat';
  font-weight: bold;
}

.dish-promo-cont .promo-text p {
  padding: 20px 0;
}

.reversed {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.pizza-menu-cont {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 750px;
  position: relative;
}

.pizza-menu-cont .headline {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 30px;
  padding-top: 40px;
}

.pizza-menu-cont .headline::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 7px;
  background-color: white;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.pizza-menu-cont .headline h2 {
  color: white;
}

.pizza-menu-cont .headline p {
  color: white;
}

.pizza-menu-cont .pizza-img {
  width: 100%;
  max-width: 575px;
  height: 530px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: translateY(65px);
          transform: translateY(65px);
}

.pizza-menu-cont .pizza-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.pizza-menu-cont .leaves2 {
  position: absolute;
  top: -225px;
  width: 100%;
  height: 800px;
}

.pizza-menu-cont .leaves2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.text-cont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 40px;
          column-gap: 40px;
  padding: 40px 0 40px 0;
}

.text-cont .text h3 {
  font-family: 'Reey';
  text-align: center;
  color: #393939;
}

.text-cont .text p {
  padding-top: 15px;
}

.quote-cont {
  padding-top: 70px;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.quote-cont p {
  font-weight: 600;
  padding-bottom: 20px;
}

.quote-cont h4 {
  font-weight: 600;
  font-size: 1rem;
}

.grey-section-padding {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.grey-section-padding .leaves3 {
  position: absolute;
  left: 0;
  bottom: -40px;
  width: 100%;
  max-width: 244px;
  height: 225px;
}

.grey-section-padding .leaves3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.grey-section-padding .leaves4 {
  position: absolute;
  top: -75px;
  right: 0;
  width: 100%;
  max-width: 340px;
  height: 350px;
}

.grey-section-padding .leaves4 img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
}

.newsletter-cont {
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin-top: auto;
  margin-bottom: auto;
}

.newsletter-cont h2 {
  font-family: 'Montserrat';
  font-weight: bold;
}

.newsletter-cont p {
  color: white;
  padding-top: 30px;
}

.newsletter-cont form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
  width: 100%;
}

.newsletter-cont form input {
  width: 100%;
  max-width: 450px;
  height: 40px;
  border: none;
  background-color: white;
  color: #343434;
  border-radius: 20px;
  padding: 10px 20px;
}

.newsletter-cont form input:focus {
  outline: none;
}

.newsletter-cont form .btn {
  height: 40px;
  margin-left: -100px;
  border: none;
  background-color: #343434;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Reey';
  src: url("../fonts/Reey-Regular.woff2") format("woff2"), url("../fonts/Reey-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Serif";
  overflow-x: hidden;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 0;
  color: #343434;
}

h1 {
  font-family: "Reey";
  font-size: 4.8rem;
  font-weight: 400;
  color: white;
}

h2 {
  font-family: "Reey";
  font-size: 2.5rem;
  font-weight: 400;
  color: #222328;
}

h3 {
  font-size: 1.75rem;
  font-weight: bold;
  color: #343434;
}

.max-width {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.btn {
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background-color: #343434;
  border-radius: 37px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
  color: #343434;
}

.section-padding {
  padding: 70px 0;
}
/*# sourceMappingURL=main.css.map */