@import "header";
@import "index";
@import "footer";

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reey';
    src: url('../fonts/Reey-Regular.woff2') format('woff2'),
        url('../fonts/Reey-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

 $grey1: #222328;
 $grey2: #343434;
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Serif";
  overflow-x: hidden;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 0;
color: $grey2;
}

h1{
    font-family: "Reey";
    font-size: calc(min(max(2.8rem, 4vw), 4.8rem));;
    font-weight: 400;
    color: white;
}

h2{
    font-family: "Reey";
    font-size: 2.5rem;
    font-weight: 400;
    color: $grey1;
}
h3{

    font-size: 1.75rem;
    font-weight: bold;
    color: $grey2;
}

.max-width{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 1200px){
    .max-width{
        width: 90%;
    }
}

a{
    text-decoration: none;
}

.btn{
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: $grey2;
    border-radius: 37px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
}

p{
    font-size: 1rem;
    color: $grey2;
}

.section-padding{
    padding: 70px 0;
}

.no-scroll{
    overflow-y: hidden;
}